*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: white !important;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.wrapper {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}
.bg-sea {
	background-image: url(img/bg-sea.jpg);
	background-size: cover;
}
section{
    padding: 60px 0px;
    overflow: hidden;
}

/*--------------------------------------------------------------
# navbar css 
--------------------------------------------------------------*/
.navbar-default {
    background: rgba(1, 38, 69, 0.8) !important;
    color: rgba(1, 38, 69, 0.8);
}
.navbar {
    position: relative;
    min-height: 110px;
    border: 1px solid transparent;
}
.navbar-nav > li > a {
    padding-right: 20px !important;
    padding-left: 20px !important;
}

.nav-link {
    font-family: 'Harabara';
    font-size: 20px;
    letter-spacing: 1px;
    color: white !important;
}

/*--------------------------------------------------------------
# intro css 
--------------------------------------------------------------*/
.headline .title {
    margin-top: -5px;
    font-family: 'Harabara';
    font-size: 30px;
    color: #fff;
    font-weight: 100;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}
.headline .subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 100;
    color: #fff;
    margin-top: -5px;
}
.headline .description-text-white {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
}


/*--------------------------------------------------------------
# Service css 
--------------------------------------------------------------*/
.service {
    padding-top: 0px !important;
}
.service-title h3 {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 30px;
    text-align: center;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 24px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border: none;
    border-radius: none !important;
}
.card-img, .card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.service .thumb-title {
    font-family: 'Harabara';
    font-size: 25px;
    color: #55cddd;
    font-weight: 800;
    /* letter-spacing: 1.5px; */
    margin-top: 20px;
    margin-bottom: 10px;
}
.card-body {
    flex: 1 1 auto;
    padding: 0rem 0rem;
}
.service .card-text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #ccc;
    margin: 0 0 10px;
}


/*--------------------------------------------------------------
# DASIN HOLDINGS GROUP css 
--------------------------------------------------------------*/
.dasin-group {
    padding-top: 0px !important;
    padding-bottom: 15px !important;
}
.slogan-title h3{
    font-family: 'Harabara';
    font-size: 40px;
    color: #55cddd;
    font-weight: 900;
    letter-spacing: 1.5px;
    padding-top: 30px;
}

.description-slogan-text {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: #fff;
    margin: 0 0 10px;
}


/*--------------------------------------------------------------
# Footer section css 
--------------------------------------------------------------*/
.footer-bg {
    background: url(img/footer-bg.png) no-repeat, #091523;
    background-size: cover;
    background-position: center center;
    height: 150px;
    width: 100%;
    padding-top: 0px !important;
}
#footers{
    background-color: black;
}
#footers .copyright {
    padding-top: 5px;
}
#footers .footer-font {
    font-size: 16px;
    letter-spacing: 1.5px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}
#footers .copyright-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #ccc;
    font-size: 13px;
    margin-top: -5px;
}
.navbar-right {
    font-family: 'Harabara';
    font-size: 20px;
    letter-spacing: 1.5px;
    float: right !important;
}
.footer-menu {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 0.8px;
    display: inline;
    float: right;
    padding-right: 6px;
    padding-left: 6px;
    margin-top: 15px;
}
.footer-menu {
    float: left !important;
}
#menu-footer-menu {
    margin-top: 0;
    margin-bottom: 10px;
    list-style: none;
}